.marge {
  .App-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trim {
    height: 600px;
    overflow: hidden;
    border: 8px outset #00d9ef;
    box-shadow: 2px 2px 30px;
  }

  .App-logo {
    width: 600px;
    // width: 300px;
    height: 800px;
    filter: saturate(139%);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: white;
    background-blend-mode: multiply;
  }
}