.gallery {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;

  div {
    background: black;
    width: 60%;
    margin: auto;
    height: 10%;
    border: 1px solid white;
    border-top: none;
    box-shadow: 1px 1px 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}