@import "../variables";

@mixin flexNum($num) {
  -webkit-flex: $num;
  flex: $num;
}

@mixin singleFlex {
  display: -webkit-flex;
  display: flex;
  @include flexNum(1);
}

.main-container {
  height: 100%;
  min-height: 100%;
  background-color: black;

  body>& {
    height: auto;
  }

  @media (min-width: 600px) {
    .flexbox {
      display: -webkit-flex;
      display: flex;
      height: calc(100% - #{$header-height});
      min-height: calc(100% - #{$header-height});
    }

    .main {
      margin: 0 10px;
      @include flexNum(3);
      background-color: lightgoldenrodyellow;

      .card-container {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        height: 100%;

        .enemy-container {
          @include singleFlex;
          background-color: lightpink;
          // TODO: 可変にする
          background-image: url(../asset/img/dungeon/d001.png);
          // http://teddy-plaza.sakura.ne.jp/?cat=105
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          // background-color: rgba(255, 255, 255, 0.3);
          // background-blend-mode: lighten;
        }

        .party-container {
          @include singleFlex;
          background-color: lightslategrey;
          flex-direction: column;

          .avant-garde-container {
            @include singleFlex;
            background-color: lightcyan;
          }

          .rear-guard-container {
            @include singleFlex;
            background-color: lightgreen;
          }
        }

        .pure-card {
          @include singleFlex;
          border: 1px solid black;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-size: 5rem;

          &:active {
            box-shadow: 1px 1px 13px 1px;
          }

          &:hover {
            box-shadow: 1px 1px 13px 1px;
          }
        }
      }
    }

    .side {
      @include flexNum(1);
      background-color: darkblue;
      color: white;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 20%;
        border: 1px solid white;
      }
    }

    .gallery {
      @include flexNum(1);
    }

    .cardList {
      @include flexNum(3);
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}